.theme {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nav-bar-title {
  display: flex;
  align-items: center;
}